body > section {
  padding: 70px 0;
}

.navbar {
    background: transparent;
    border: none;
}

ul.nav {
    
    width:50%;
    margin:0 auto;
    padding:20px;
    list-style:none;
    text-align:center;
    font-family: sans-serif; 
}
.nav li { 
    display:inline-block;
    width:25%;
    margin:0;
    padding:0;
}
.nav a {
    text-align:center;
    padding:12px 0 13px 0;
    margin:0;
    display:block;
}

.navbar-inverse .navbar-nav > li > a {
    font-size: 20px; 
}

.sliding-transition {
     display: inline-block;
    position: relative;
    padding-bottom: 3px;
}

.sliding-transition:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    transition: width 0s ease, background .5s ease;
}
.sliding-transition:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: white;
    transition: width .5s ease;
}
.sliding-transition:hover:before {
    width: 100%;
    background: white;
    transition: width .5s ease;
}
.sliding-transition:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}

footer {
    color: #fff;
    background-color: #000;
    text-align: left;
}

footer p {
    font-size: 30px;
    margin-left: 5%;
    margin-bottom: 5%;
}

/************************
*
* Main CSS 
*
**************************/
#headerAndSection {
    width: 100%;
    margin: 0 auto; 
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/mac-mockup.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.section {
    height: 100vh; 
}

.container{
    height: 75%;
    display: table;
    vertical-align: middle;
}


.sunnyTitle {
    color: #fff;
}

.sunnyTitle p {
	font-size: 45px;
}

#name {
	font-size: 60px;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

/************************
*
* ABOUT CSS 
*
**************************/

/*
.about-background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
*/
#aboutSection {
    width: 100%;
    height: 100%;
    margin: 0 auto; 
    background-image: url("../images/sunny2.png");
    background-repeat: no-repeat;
    background-position: top center;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*
.about-paragraph {
    position:  relative; 
    width: 500px; 
    height: 300px; 
    top: 25%; 
    left: 10%;
    line-height: 50px;
}
*/

.about-paragraph p {
    color: #fff; 
    font-size: 30px; 
    padding-bottom: 10%; 
    text-align: left;
    padding-bottom: 20%;
}

.about-download-button {
    display: block;
    position: relative; 
    margin: 0 auto; 
}




/************************
*
* SKILLS CSS 
*
**************************/
#skillsSection {
    width: 100%;
    margin: 0 auto; 
    background-image: url("../images/mac-stock.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

/*

.skills-background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
*/
#skillsTitle {
    text-align: center;
    font-size: 75px; 
    color: #fff;
    padding-top: 2%;;
}

.skillCircles {
    text-align: center;
    margin: 10% 0; 
}


.skillCircles li {
    height: 200px;
    width: 200px; 
    text-align: center; 
    line-height: 15em;
    display: inline-block;
    background: limegreen;
    margin: 0 10em; 
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
    position: relative;
}

#backEndCircle::before {
      content: '';
      position: absolute;
      top: 6em;
      left: -20.5em;
      width: 20.5em;
      height: .2em;
      background: #fff;
      z-index: 1;
}

#databaseCircle::before {
      content: '';
      position: absolute;
      top: 6em;
      left: -20.5em;
      width: 20.5em;
      height: .2em;
      background: #fff;
      z-index: 1;
}


.fa {
    margin: auto auto; 
    top: 30%;
    left: 25%;
}

#frontEndCircle {
    background: #22A7F0;
}

#backEndCircle {
    background: #2ECC71;
}

#databaseCircle { 
    background: #F4B350;
}


.skillTypes {
    color: #fff;
    font-size: 50px;
    text-align: center; 
    list-style: none;
}

#html5 {
    margin-left: -50%;
    margin-bottom: 50%;
}

#css3 {
    margin-left: -50%;
    margin-bottom: 50%;
}

#js {
    margin-left: -50%;
    margin-bottom: 50%;
}

#angular {
    margin-left: -50%;
    margin-bottom: 50%;
}




#csharp {
    margin-left: 50%;
    margin-bottom: 50%;
}

#java {
    margin-left: 90%;
    margin-bottom: 50%;
}

#python {
    margin-left: 90%;
}

/************************
*
* CONTACT CSS 
*
**************************/

#contactSection {
    width: 100%;
    margin: 0 auto; 
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/phone.JPG");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

#contactTitle {
    text-align: center; 
    font-size: 75px; 
    color: #fff;
    padding-top: 5%;;
}

.contactList {
    padding-top: 10%;
    margin: 0 auto; 
}

.contactList li {
    margin: 10% auto;
    width: 100%;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    color: #fff;
}

.contactList ul {
    text-align: center;
    list-style-type: none;
}

.contactList li a {
    padding-right: 10%;
}


.fa-cog {
  color: #fff;
}


@media (min-width: 1200px) {
 /* Make Navigation Toggle on Desktop Hover */
  .dropdown:hover .dropdown-menu {
      display: block;
      -webkit-animation: fadeInUp 400ms;
      animation: fadeInUp 400ms;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  
 /* Make Navigation Toggle on Desktop Hover */
  .dropdown:hover .dropdown-menu {
      display: block;
      -webkit-animation: fadeInUp 400ms;
      animation: fadeInUp 400ms;
  }

  .navbar-nav > li {
    margin-left: 10px;
  }

  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }

 
 .fa {
     top: 5%; 
     left: 2%;
 } 
 
    #skillsTitle {  
        font-size: 40px;
    }
    
    .skillCircles li {
        height: 150px;
        width: 150px; 
        text-align: center; 
        line-height: 15em;
        display: inline-block;
        background: limegreen;
    	-moz-border-radius: 50%;
    	-webkit-border-radius: 50%;
    	border-radius: 50%;
        position: relative;
    }

    #backEndCircle::before {
        display: none;
    }
    
    
    #databaseCircle::before {
        display: none;
}

  
}

@media screen and (min-width: 600px) and (max-width: 991px) {
    
    #headerAndSection {
        background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/mac-mockup-mobile.png");
    }
    
    #aboutSection {
        background-image: url("../images/sunny2-mobile.png");
    }
    
    #contactSection {
        background-image: url("../images/phone-mobile.png");
    }
    
  /* Make Navigation Toggle on Desktop Hover */
  .dropdown:hover .dropdown-menu {
      display: block;
      -webkit-animation: fadeInUp 400ms;
      animation: fadeInUp 400ms;
  }

  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-nav > li {
    margin-left: 0;
  }
  
  .about-paragraph p {
      margin-top: 50%;
    font-size: 20px;
    text-align: center;
  }
 
 .fa {
     top: 5%; 
     left: 2%;
 } 
 
    #skillsTitle {  
        font-size: 40px;
    }
    .skillCircles li {
        height: 150px;
        width: 150px; 
        text-align: center; 
        line-height: 15em;
        display: inline-block;
        background: limegreen;
    	-moz-border-radius: 50%;
    	-webkit-border-radius: 50%;
    	border-radius: 50%;
        position: relative;
    }
 
    #backEndCircle::before {
        display: none;
    }
    
    #databaseCircle::before {
        display: none;
    }

}
