#headerAndSection {
    width: 100%;
    margin: 0 auto; 
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/mac-mockup.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.section {
    height: 100vh; 
}

.center-title {
	 
    position: relative;
	text-align: center;
	margin: 0 auto; 
    top: 25%;
    z-index: 1;
	margin: 0 0 0 -100px;
    color: #fff;
	text-shadow: 3px 4px 5px #000;
}

.center-title h1 {
	font-size: 60px;
}

.center-title h2 {
	font-size: 45px;
}

