#skillsSection {
    width: 100%;
    margin: 0 auto; 
    background-color: #2C3539;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.skills-background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -2;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#skillsTitle {
    text-align: center;
    font-size: 75px; 
    color: #fff;
    padding-top: 2%;;
}

.skillTypes {
    color: #fff;
    font-size: 50px;
    text-align: center; 
    list-style: none;
}

#html5 {
    margin-left: -50%;
    margin-bottom: 50%;
}

#css3 {
    margin-left: -50%;
    margin-bottom: 50%;
}

#js {
    margin-left: -50%;
    margin-bottom: 50%;
}

#angular {
    margin-left: -50%;
    margin-bottom: 50%;
}




#csharp {
    margin-left: 50%;
    margin-bottom: 50%;
}

#java {
    margin-left: 90%;
    margin-bottom: 50%;
}

#python {
    margin-left: 90%;
}